@import url("https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "M PLUS Rounded 1c", sans-serif;
}

.menu {
  background-color: #744FC6 !important;
  margin: 10px;
  border-radius: 10px;
}

.navbar-brand {
  color: white !important;
}

.navbar-toggler,
.btn-close {
  border: none !important;
  font-size: 1.25rem !important;
  background-color: #97efe9 !important;
}

.navbar-toggler:focus,
.btn-close:focus {
  box-shadow: none !important;
  outline: none !important;
}

.nav-link {
  color: #97efe9 !important;
  font-weight: 700 !important;
}

.nav-link:hover {
  color: #00a6fb !important;
}

#inicio {
  position: relative;
  width: 100%;
  height: 90vh;
  background: url("./IMG/fondo.png") center center / cover no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}

#inicio .overlay {
  background: rgba(231, 231, 231, 0.377);
  color: #0D0C1D;
  font-weight: 700;
  text-align: center;
  padding: 40px;
  border-radius: 10px;
  max-width: 900px;
}
#inicio h1 {
  font-size: 3em;
  font-weight: bold;
}


.skills img {
  width: 200px;
  border-radius: 50%;
}

#proyectos {
  background-color: #744FC6;
}

h2 {
  color: #0D0C1D !important;
}

#proyectos h2 {
  color: #97efe9 !important;
  text-align: center;
}

.card {
  width: 20rem;
  background-color: #97efe9 !important;
}

.card:hover {
  transform: scale(1.05); 
  transition: transform 0.3s ease-in-out;
}

.card-header {
  background-color: #00A6FB !important;
  color: #ffffff !important;
}

.card-img-top {
  padding: 1rem;
  padding-bottom: 0;
}

ul  {
  list-style-type: none;
}

li i {
  font-size: large;
}

.btn {
  background-color: #00A6FB !important;
}

.btn a {
  text-decoration: none;
  color: #ffffff !important;
}

.btn:hover {
  background-color: #01527a !important;
}

form {
  max-width: 700px;
}

input, textarea {
  background-color: #97efe9 !important;
}

label {
  color: #0D0C1D !important;
}

.input-group-text {
  background-color: #00A6FB !important;
}

.input-group-text i {
  color: #ffffff !important;
}

.pie-pagina, 
.desplegable {
  background-color: #744FC6 !important;
  color: white !important;
}
